@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');



html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
}

.pasteBinText {
    outline: none;
    overflow: auto;
    border: 1px solid #eee;
    box-shadow: 1px 1px 0 #ddd;
    vertical-align: top;
    font-family: 'Caveat', cursive;
    font-size: 24px;
    line-height: 20px;
    margin: 2% auto;
    padding: 22px 20px 30vh 1vw;
    resize: none;
    min-height: 50vh;
    width: 50vw;
    background-color: #fff;
    border-color: #ccc;
    background-image: -webkit-linear-gradient(top, transparent, transparent 19px, #e7eff8 0), -webkit-radial-gradient(3.9% 46%, circle closest-corner, transparent, transparent 43.5%, transparent 0%);
    background-size: 100% 20px;
    background-position: 0 0;
    border-radius: 10px;

}

::-webkit-scrollbar {
    width: 0px;
}

.landing, header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    width: 200px;
    margin-top: 5px;
}

.switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked+.slider {
    background-color: #66bb6a;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
#password {
    display: none;
<<<<<<< HEAD
=======
}

.logo {
    width: 200px;
    margin-top: 5px;
>>>>>>> logo-toeveogen
}